[Unit]
Description=Wallpaper Changer daemon
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/wallpaper-changer-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
